<form method="post" action="{{ path('admin.categories.delete', {'id': categorie.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette catégorie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
    <button class="btn btn-danger mx-1">Supprimer</button>
</form>
